<p>servidores works!</p>


<div>
    {{ novo | json }}

    <mat-card class="result">
        <mat-card-content>
            <h2 class="example-h2"> Adicionar novo Servidor</h2>

            <section class="example-section">
                <form action="">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nome" [(ngModel)]="novo.name" name="name">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Protocolo</mat-label>
                        <mat-select [(ngModel)]="novo.protocolo" name="protocolo">
                            <mat-option value="https://">https://</mat-option>
                            <mat-option value="http://">http://</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Host" [(ngModel)]="novo.host" name="host">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Porta" [(ngModel)]="novo.port" name="port">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Path" [(ngModel)]="novo.path" name="path">
                    </mat-form-field>

                    <mat-form-field>
                        <!-- <mat-checkbox  [(ngModel)]="novo.active" name="active">Ativo</mat-checkbox> -->
                        <mat-label>Ativo</mat-label>
                        <mat-select [(ngModel)]="novo.active" name="active">
                            <mat-option value="1">Sim</mat-option>
                            <mat-option value="0">Não</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button mat-raised-button (click)="salvar()" color="primary">Primary</button>
                </form>
            </section>
        </mat-card-content>
    </mat-card>




    <table mat-table [dataSource]="servidores" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Weight Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> #{{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Url </th>
            <td mat-cell *matCellDef="let element"> {{element.getRequestServer()}} </td>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Ativo </th>
            <td mat-cell *matCellDef="let element"> {{element.active ? 'Sim' : 'Não'}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="secundary" (click)="delete(element)">
                    <mat-icon>delete</mat-icon>
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>



    <table>
        <tr>
            <th> Status </th>
            <th> # </th>
            <th> Nome</th>
            <th> URL </th>
            <th> Ativo </th>
            <th> Ações </th>
        </tr>
        <tr *ngFor="let server of servidores">
            <td class="status">
                <span [class]="'status-'+server.status"> {{server.status}} </span>
            </td>
            <td> #{{ server.id }} </td>
            <td> {{ server.name }} </td>
            <td> {{ server.getRequestServer() }} </td>
            <td> {{ server.active }} </td>
            <td>
                <button (click)="delete(server)">apagar</button>
            </td>
        </tr>
    </table>
</div>